* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black !important;
}
/* header */
.header {
  position: relative;
  background-color: #333;
  background-image: url('https://unofficialdxnny.com/Assets/Images/updated main bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
}

.snp {
  position: fixed;
  width: 25%;
}

.snp img {
  /* position: fixed;game widget */

   .widget {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
}

@media only screen and (max-width: 600px) {
  .snp img {
display: none;  }
}


.online {
  color: #4f8832;
}
.idle {
  color: #f79c18;
}
.dnd {
  color: #812e25;
  background-color: #812e25;
}
.offline {
  color: gray;
}


/* navbar */

.glassmorphic-navbar {
  background: rgba(235, 233, 233, 0.25); /* Adjust opacity as needed */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.glassmorphic-navbar .navbar-brand {
  color: #fff;
}

.glassmorphic-navbar .navbar-nav .nav-link {
  color: #fff;
  padding: 10px;
}

.glassmorphic-navbar .navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

@keyframes flickIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply flick-in animation to navbar */
.flick-in {
  animation: flickIn 2s ease forwards;
}

/* about me */

.introduction {
  padding: 50px 10px;
  text-align: center;
  display: flex;
  justify-content: right;
}

.intro-container {
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
}

span {
  font-weight: bold;
  animation: glow 2s infinite alternate;}



@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

@media (min-width: 768px) {
  .introduction {
    justify-content: flex-end;
  }
}
