* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.main {
  height: 28vh;
  width: 100%;
  background-color: #bfbbb8;
  background-image: url(https://images.unsplash.com/photo-1504903271097-d7e7c7f5f7ad?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maincontent {
  text-align: center;
  color: #fff; 
}

.maincontent .title {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  
}

.maincontent .slogan {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color: #9f9f9f;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.slogan {
  font-size: 1.5em;
}


.snp {
  position: fixed;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  transform-origin: top right;
  margin-top: -100px; /* Adjust margin as needed */
  margin-right: 70px; /* Adjust margin as needed */
  color: black;
}


@media only screen and (max-width: 767px) {

}


.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-section h2 {
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);

}

.about-text {
  width: 60%;
  text-align: left;
}

.profile-image {
  width: 50%;
  height: 50%;
  border-radius: 50%; /* Make the image round */
  overflow: hidden; /* Ensure the rounded corners are visible */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }

  .about-text,
  .profile-image {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}