* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black !important;
}
/* .header {
  background-color: #333;
  background-image: url('https://unofficialdxnny.com/Assets/Images/updated main bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
} */
.online {
  color: #4f8832;
}
.idle {
  color: #f79c18;
}
.dnd {
  color: #812e25;
  background-color: #812e25;
}
.offline {
  color: gray;
}


/* navbar */

.glassmorphic-navbar {
  background: rgba(235, 233, 233, 0.25); /* Adjust opacity as needed */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.glassmorphic-navbar .navbar-brand {
  color: #fff;
}

.glassmorphic-navbar .navbar-nav .nav-link {
  color: #fff;
  padding: 10px;
}

.glassmorphic-navbar .navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

@keyframes flickIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply flick-in animation to navbar */
.flick-in {
  animation: flickIn 2s ease forwards;
}