* {
    margin: 0;

}

body::-webkit-scrollbar {
    width: 0px;
  }


body {
    background-color: rgb(41, 41, 41);
}

.right {
    display: flex;
    justify-content: right;

}


.content .typedtext{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 50%;
    color: white;
}

img {
    position: fixed;
    max-width: 50%; /* Ensure images are responsive */
    height: auto;
    top: 100px;
}



.content {
    display: flex;
    justify-content: center;
}