/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(connected.gif);
    height: 2000px;
    width: 3000px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected div {
    background: url(Disconnected.png);
}

.ds4 .triggers {
    width: 598px;
    height: 205px;
    position: absolute;

}

.ds4 .trigger {
    width: 222px;
    height: 205px;
    opacity: 0;
}

.ds4 .trigger.left {
    float: left;
    background: url(left\ trtigger.png);
    position: absolute;
    left: 700px;
    top: 155px;

}

.ds4 .trigger.right {
    width: 310px;
    height: 205px;
    position: absolute;
    background: url(SFFckwG\ -\ Imgur.png);
    float: right;
    background-position-x: 99px;
    background-repeat: no-repeat;

    top: 155px;
    left: 1750px;
}

.ds4 .bumper {
    width: 200px;
    height: 45px;
    opacity: 0;
}

/* .ds4 .bumpers {
    position: absolute;
    width: 672px;
    height: 23px;
    left: 263px;
    top: 132px;
} */

.ds4 .bumper.pressed {
    opacity: 0.8;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
    background: url(l1.png) no-repeat;
    width: 244px;
    height: 84px;
    position: absolute;
    top: 300px;
    left: 710px;

}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
    background: url(l1.png) no-repeat;
    width: 244px;
    height: 84px;
    position: absolute;
    top: 300px;
    left: 1830px;


}

.ds4 .touchpad {
    width: 722px;
    height: 389px;
    position: absolute;
    left: 1140px;
    top: 410px;
}

.ds4 .touchpad.pressed {
    background: url(tpPressed.gif) no-repeat center;
}

.ds4 .meta {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 546px;
    bottom: 264px;
}

.ds4 .meta.pressed {
    background: url(Home.png) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
.ds4 .p0 {
    background-position: 0 -6px;
}

.ds4 .p1 {
    background-position: 0 -28px;
}

.ds4 .p2 {
    background-position: 0 -49px;
}

.ds4 .p3 {
    background-position: 0 -70px;
}

*/ .ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .back,
.ds4 .start {
    background: url(Create.png);
    width: 26px;
    height: 43px;
    opacity: 0;
}

.ds4 .start {
    position: absolute;
    left: 546px;
    bottom: -30px;
}

.ds4 .back {
    position: absolute;
    left: 170px;
    bottom: -30px;
}


.ds4 .back.pressed,
.ds4 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds4 .back {
    float: left;
    /* width: 28px; */
}

.ds4 .start {
    float: right;
    /* width: 28px; */
    background-position: 0px 0;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 200px;
    left: 762px;
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0px;
    left: 58px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 57px;
    right: -3px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 57px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 58px;
    bottom: 119px;
}

.ds4 .sticks {
    position: absolute;
    width: 364px;
    height: 105px;
    top: 348px;
    left: 422px;

}

.ds4 .stick {
    background: url(joystick.png);
    height: 216px;
    width: 218px;

}


.ds4 .stick.pressed.left {
    background-position-x: -96px;
    background: url(joystick\ pressed.png);
    background-repeat: no-repeat;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
    background: url(joystick\ pressed.png);
    background-repeat: no-repeat;
}

.ds4 .stick.left {
    top: 530px;
    left: 680px;
}

.ds4 .stick.right {
    top: 530px;
    left: 1260px;
}

.ds4 .dpad {
    position: absolute;
    width: 292px;
    height: 293px;
    top: 345px;
    left: 223px;
}

.ds4 .face.up,
.ds4 .face.down {
    width: 100px;
    height: 119px;
    background: none;
    background-repeat: no-repeat;


}

.ds4 .face.left,
.ds4 .face.right {
    width: 119px;
    height: 95px;
    background: none;
    background-repeat: no-repeat;

}

.ds4 .face.left.pressed {
    background: url(DL.png);
    position: absolute;
    top: 345px;
    left: 568px;
}

.ds4 .face.right.pressed {
    background: url(DR.png);
    position: absolute;
    top: 345px;
    left: 743px;
}

.ds4 .face.up.pressed {
    background: url(DU.png);
    position: absolute;
    top: 247px;
    left: 667px;
}

.ds4 .face.down.pressed {
    background: url(DD.png);
    position: absolute;
    top: 420px;
    left: 660px;
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 45px;
    left: 0;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}

/* .abxy {
    display: none;
} */


.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
    background: none;
}

.ds4 .button {
    position: absolute;
    width: 71px;
    height: 71px;

}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */

}

.ds4 .a {
    background-position: 0 0;
    left: 1438px;
    top: 645px;
    background: url() no-repeat;
    width: 170px;
    height: 171px;

}

.ds4 .a.pressed {
    background: url(X.png) no-repeat;
}

.ds4 .b {
    background-position: -57px 0;
    top: 517px;
    left: 1565px;
    background: url() no-repeat;
    width: 170px;
    height: 171px;

}

.ds4 .b.pressed {
    background: url(O.png) no-repeat;
}

.ds4 .x {
    background-position: -113px 0;
    left: 1302px;
    top: 517px;
    background: url() no-repeat;
    width: 170px;
    height: 171px;

}

.ds4 .x.pressed {
    background: url(Sqr.png) no-repeat;
}

.ds4 .y {
    background-position: 55px 0;
    left: 1435px;
    top: 380px;
    background: url() no-repeat;
    width: 170px;
    height: 171px;

}

.ds4 .y.pressed {
    background: url(TRI.png) no-repeat;
}


/*END PS4 Controller Styling*/

/*BEGIN PS4 White Controller Styling*/
.ds4.white .back,
.ds4 .start {
    background-image: url(Create.png);
    width: 30px;
    height: 60px;
}

/*END PS4 White Controller Styling*/