.controller.ds4.white {
    background-image: url(https://unofficialdxnny.com/Assets/gamepads/DS4White/base.png);
}

.ds4.white .stick {
    background-image: url(sticks.png);
}

.ds4.white .face {
    background-image: url(dpad.png);
}