@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Prata&display=swap');

:root {
  --f-headline: 'Prata', serif;
  --f-body: 'Open Sans', sans-serif;

  --c-primary: #e24630;
  --c-darkest: #4c4f55;
  --c-lightest: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.625;
    font-family: var(--f-body);
    color: var(--c-darkest);
}

/* WYWIWG Styles */

.rich-text p {
    font-size: 1.6rem;
}

.rich-text a {
    color: var(--c-primary);
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4 {
    font-family: var(--f-headline);
    padding-top: 4rem
}

.rich-text h1 {
    font-size: 3.6rem;
}

.rich-text h2 {
    font-size: 2.8rem;
}

.rich-text h3 {
    padding-top: 2rem;
    font-size: 2.2rem;
}

.rich-text li:not(:last-child) {
    margin-bottom: 1.2rem;
}

.rich-text ul li {
    position: relative;
    display: block;
    padding-left: 1.8rem;
}

.rich-text ul li:after {
    content: '';
    display: block;
    height: .6rem;
    width: .6rem;
    position: absolute;
    top: .9rem;
    left: 0;
    border-radius: 100%;
    background-color: var(--c-primary);
}


.rich-text > *:not(:last-child) {
    margin-bottom: 4rem;
}

.article {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.article__body {
  width: 50%;
  padding: 20vh 5%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.article__image {
  position: sticky;
  top: 0;
  width: 50%;
}

.article__image-wrapper {
    position: relative;
    min-height: 100vh;
}

.article__image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    margin-bottom: 20rem;
}

.header__cat {
    display: block;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
    font-family: var(--f-body);
    font-weight: bold;
    opacity: .6;
}

.header__title {
    font-size: 4.2rem;
    font-family: var(--f-headline);
    color: var(--c-primary);
    line-height: 1.15;
}

.article__end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 33vh;
    background-color: var(--c-primary);
    text-decoration: none;
}

.article__end-text {
    font-size: 2.8rem;
    font-family: var(--f-headline);
    color: var(--c-lightest);
}

.home-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("home-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0 0 10px;
  }

  .fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
    z-index: 9999;
  }
  
  .fade-overlay.active {
    opacity: 0.5;
    pointer-events: all;
  }
  