* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
    background-image: "./assets/images/Background.jpg";
  }

  a {
    color: white;
  }