/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://raw.githubusercontent.com/e7d/gamepad-viewer/000036e4f2b33306b02faf35d0e68e880b203006/templates/ds4/base-blue.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(i.imgur.com/Jrn86LL.png);
}
