
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Bubbles&display=swap');

html, body { margin: 0; width: 100%; height: 100%; }


body {
    background-color: ;
    filter: blur(0px);
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
    user-select: none;
    animation: fadeIn 1s;

}


