* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

