/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {

}


.main {
  display: flex;
  background-image: url("https://cdn.wallpapersafari.com/10/67/aXhmCM.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
}




::-webkit-scrollbar {
  display: none; /* Hide the scroll bars */
}


#Spotify-now-playing {
  position: fixed;
  bottom: 0;
  right: 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35%;
  color: white;
  font-size: 100px;

}


.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #181818;
  color: #ffffff;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 300px; /* Each card has a fixed width of 300px */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
}

.card a {
  display: inline-block;
  color: white;
}

.card i {
  font-size: 24px;
}


#moonContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}



.social-icons {
  display: flex;
  justify-content: center; /* Align icons horizontally in the center */
  align-items: center;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #555555;
}

.social-icon i {
  pointer-events: none;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  
  .social-icons a {
    font-size: 20px;
  }
  
  #Spotify-now-playing {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
  }

  .main {
    display: flex;
    background-image: url("https://cdn.wallpapersafari.com/10/67/aXhmCM.jpg");
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  font-size: 25px;
}

  #moonContainer {
    bottom: 20px;
    right: 20px;
    left: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  
}
