
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Bubbles&display=swap');

html, body { margin: 0; width: 100%; height: 100%; }


body {
    background-color: ;
    filter: blur(0px);
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
    user-select: none;
    animation: fadeIn 1s;

}





#heading {
    font-family: 'Caveat', cursive;
    color: #f2aa4c;
    text-align: center;

    user-select: none;
    text-shadow: #f3a500;
    box-shadow: #f3a500;
    text-decoration: ;
    text-decoration-color: #f3a500;

   
}


#Spotify-now-playing {
    padding-left: 550px;
    -webkit-user-select: none;
    animation: fadeIn 5s;

}


.socials-instagram {
    width: 30px;
    padding-left: 660px;
    -webkit-user-select: none;
}

.socials-discord {
    width: 30px;
    padding-left: 10px;
    -webkit-user-select: none;
}

.socials-twitter {
    width: 30px;
    padding-left: 10px;
    -webkit-user-select: none;
    background-image: url('https://unofficialdxnny.netlify.app/Assets/Images/twitter.png');

}




.socials-instagram:hover {
    width: 30px;
    padding-left: 660px;
    -webkit-user-select: none;
}

.socials-discord:hover {
    width: 30px;
    padding-left: 10px;
    -webkit-user-select: none;
}

.socials-twitter:hover {
    width: 30px;
    padding-left: 10px;
    -webkit-user-select: none;
    background-image: ('./Assets/Images/twitter-h.png');
}

p5 {
    font-family: 'Caveat', cursive;

    text-align: center;
    padding-left: 535px;
    color: #f2aa4c;
    
}





::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }



.introduction {
    background-color: #181a1b;
    padding-top: 1px;
    


}





a {
    color: #f2aa4c;
    cursor: default;
    text-decoration: none;

    
}





.src {
    font-family: 'Caveat', cursive;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
}

.theme {
    position: absolute;
    bottom: 0px;
    right: 100px;
    
}


.repositories {
    position:absolute;
    padding-left: 325px;
    animation: fadeIn 5s;


}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  /* For Hover Effect */


  .src {
	
	text-decoration: none;
}



.copyright {
    font-family: 'Caveat', cursive;
    position: absolute;
    bottom: 0px;
    
    right: 1250px;
    size: 1000px;
}