@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Days One', sans-serif;

}








   /* Style for the navbar container */
   .navbar {
    background-color: #333; /* Background color for the navbar */
    overflow: hidden;
    padding: 20px 0; /* Increase vertical padding to make the navbar bigger */
}

/* Style for the name on the left */
.navbar-left {
    float: left;
    font-size: 25px;
    color: white;
    margin-left: 20px; /* Add some left margin to create space */
}



/* Style for the links on the right */
.navbar-right {
    float: right;
}

/* Style for the navbar links */
.navbar a {
    color: #fff; /* Link text color */
    text-align: center;
    padding: 16px 20px; /* Increase padding to make the links bigger */
    text-decoration: none;
    font-size: 16px; /* Increase font size */
}

/* Change link color on hover */
.navbar a:hover {
    background-color: #ddd; /* Background color on hover */
    color: #333; /* Link text color on hover */
}

   /* Style for the Spotify Now Playing */
   .spotify-player {
    max-width: 100%; /* Make it responsive */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .spotify-player {
        display: block;
        margin: 0 auto; /* Center the element horizontally */
        max-width: 80%; /* Adjust the size for smaller screens */
    }
}