@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");



#pfp {
    
    border-radius: 50%;
    margin-top: 0%;
    margin-left: 0%;

  }

::selection{
  color: transparent;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

*, *::before, *::after {
  box-sizing: border-box;
}





#content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
}

#post {
  margin-top: 65px;
  margin-bottom: -50px;
  display: flex;
  gap: 2%;
  background: var(--s-bg);
  max-height: 100px;
  width: 95%;
  box-shadow: 0 0 25px black;
  padding: 1%;
  flex-direction: row;
  border-radius: 6px;
}

#placeholder {
  align-self: center;
  margin-left: 400px;
  color: gray;
}


article {
  margin-top: 55px;
  background: var(--s-bg);
  max-width: 95%;
  box-shadow: 0 0 25px black;
  padding: 1%;
  border-radius: 6px;
  border: 3px solid gray;
}

article p {
  line-height: 150%;
  color: white;
}

aside p {
  line-height: 150%;
}

main {
  background-color: var(--bg);
  height: 100%;
  display: flex;
  gap: 1%;
}



.skills{
  margin-top: 5%;
  border-radius: 0px;
  width: 250px;
  

}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 20%;
  max-width: 20%;
  margin-left: 5%;
  
  margin-bottom: 100px;
  box-shadow: 0 0 25px black;
  padding-inline: 1%;
  text-align: center;
  border: 3px solid gray;
  border-radius: 10px;
  color: white;
  
}

h2 {
  color:  #FFD700;
}

#title {
  color:  #FFD700;
  
  text-align: center;
}

#cc {
  text-align: center;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


#ghfollowers{
  margin-left: 800px;
  margin-top: -100px;
}


#ghstats{
  margin-top: -20px;
  margin-left: -35px;
}


#ghstreak{
  margin-left: 365px;
  margin-top: -400px;
  
}

#ghcgraph{
  width: 900px;
  height: 500px;
  margin-top: -100px;
}



