@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");



#pfp {
    
    border-radius: 50%;
    margin-top: 0%;
    margin-left: 0%;

  }

::selection{
  color: transparent;
}

main {
  background-color: var(--bg);
  height: 100%;
  display: flex;
  gap: 1%;
}



.skills{
  margin-top: 5%;
  border-radius: 0px;
  width: 250px;
  

}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 20%;
  max-width: 20%;
  margin-left: 10%;
  margin-top: 5%;
  box-shadow: 0 0 25px black;
  padding-inline: 1%;
  text-align: center;

  border-radius: 10px;
  color: white;
  
}

h2 {
  color:  #FFD700;
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


