
/* Theme Toggle */

/* Light theme styles */
body.light {
    background-color: #fff;
    color: #333;
  }
  
  /* Dark theme styles */
  body.dark {
    background-color: #333;
    color: #fff;
  }
  
  
  body.dark .about-me {
    background-color: #626262;
  }
  
  
  body.dark p {
    color: white;
  }
  
  body.dark h2 {
    color: white;
  }
  
  .theme-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
  
    max-width: 100%;
    height: auto;
  
  }