@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');

body {
    font-family: "Allan", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #222222;
    color: #cccccc;
}

h1 {
    margin-top: 20px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#genre-selection {
    margin: 20px 0;
}

#genre-selection input {
    margin: 5px;
}

#genre-selection label {
    margin: 0 10px;
}

#get-recommendations {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: sticky;
    /* Set button position to sticky */
    bottom: 20px;
    /* Adjust bottom position as needed */
    right: 20px;
    /* Adjust right position as needed */
    z-index: 1;
    /* Ensure button stays above other content */
}

#recommendations {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#recommendations li {
    margin: 10px;
    list-style: none;
}

.movie-item {
    text-align: center;
    max-width: 150px;
}

.movie-item img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-item p {
    margin: 10px 0 0;

}