/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(base.png);
    width: 850px;

}

.ds4.white.disconnected {
    background: url(disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(triggers.svg);
}

.ds4.white .bumper {
    background-image: url(bumper.svg);
}

.ds4.white .touchpad.pressed {
    background-image: url(touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(start.svg);
}

.ds4.white .button {
    background-image: url(face.svg);
}

.ds4.white .stick {
    background-image: url(sticks.svg);
}

.ds4.white .face {
    background-image: url(dpad.svg);
}

/*END PS4 White Controller Styling*/