/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(base.gif);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(base.png);
}

.xbox.disconnected {
    background: url(disconnected.gif);
}


.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 192px;
    left: 488px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 48px;
    height: 48px;
}

.xbox .stick {
    position: absolute;
    background: url(stick.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}


.xbox .face {
    background: url(dpad.png);
    position: absolute;
    opacity: 0;
}


.xbox .back, .xbox .start {
    background: url(start-select.png    );
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .bumper {
    width: 170px;
    height: 61px;
    background: url(bumper.png);
    opacity: 0;
}

.xbox .trigger {
    width: 88px;
    height: 121px;
    background: url(trigger.png);
    opacity: 0;
}
