
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


body{
  background-color: #1e1e1e;
  margin: 0;
  overflow: hidden;
  
  
}


.banner {
  color: #ffab38;
  margin: 0;
  
  
}

.terminal{
  animation-name: fadeOut;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
  animation-delay: 10000ms;
}

p {
  font-family: "Helvetica", Sans-Serif;
  display: block;
  width: 0px;
  margin: 0;
  font-size:1.2rem;
  color: #ffab38;;
  overflow: hidden;
  font-family: monospace;
  white-space: nowrap;
  animation-name: writeText;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

h1{
  font-family: "Helvetica", Sans-Serif;
  text-align: center;
  opacity: 0;
  color: whitffab38e;
  font-family:sans-serif;
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 10500ms;
  color: #ffab38;
  text-transform: uppercase;
  text-decoration: underline;
  
}

.delay1 {
  animation-delay: 1000ms;
  color: red;
}
.delay2 {
  animation-delay: 1000ms;}
.delay3 {
  animation-delay: 1000ms;
  color: red;
}
.delay4 {
  animation-delay: 1000ms;
}
.delay5 {
  animation-delay: 1000ms;
  color: red;
}
.delay6 {
  animation-delay: 1000ms;
}
.delay7 {
  animation-delay: 1000ms;
  color: red;
}
.delay8 {
  animation-delay: 1000ms;
}

/* Standard syntax */
@keyframes writeText {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loader {
  width: 100%;
  height: 2px;
  background-color: rgb(87, 87, 87);
}

#loaded {
  height: 2px;
  width: 0px;
  background-color: #ffab38;;
  animation-name: load;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 70%;
  }
  70% {
    width: 100%;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}

.github {
  width: 25px;
  height: 25px;
  position: absolute;
right: 0px;
bottom: 5px;
}


.instagram {
  width: 25px;
  height: 25px;
  position: absolute;
right: 35px;
bottom: 5px;
}








.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #ffab38;;
  --input-hovered-color: #4985e01f;
  position: absolute;
  top: 2px;
  right: 5px;
  width: var(--width-of-input);
 }
 /* styling of Input */
 .input {
  color: white;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }
 /* here is code of animated border */
 input:focus ~ .input-border {
  width: 100%;
 }
 /* === if you want to do animated border on typing === */
 /* remove input:focus code and uncomment below code */
 /* input:valid ~ .input-border{
   width: 100%;
 } */

.submitUsername {
  position: absolute;
  top: 45px;
  right: 5px;
}