* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  user-select: none;
  background-color: ;

}

::-webkit-scrollbar {
  display: none;
}

.main {
  height: 28vh;
  width: 100%;
  background-color: ;
  background-image: url(../Images/new\ main\ bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

}

.maincontent {
  text-align: center;
  color: #fff;
  
  
}

.maincontent .title {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  
}

.maincontent .slogan {
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  color: #9f9f9f;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.slogan {
  font-size: 1.5em;
}

.snp {
  position: fixed;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  transform-origin: top right;
  margin-top: -100px;
  margin-right: 70px;
  color: black;
  z-index: 999;
}

.snp:hover::after {
  content: "I'm Listening to:";
  position: absolute;
  bottom: 100%; /* Adjust as needed */
  left: 0%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Adjust background color and opacity */
  color: white; /* Adjust text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px; /* Adjust font size */
  white-space: nowrap;
  z-index: 1;
  rotate: 90deg;
}

@media only screen and (max-width: 767px) {

}

.tooltip {
  position: absolute;
  display: none; /* Initially hide the tooltip */
  bottom: 100%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Adjust background color and opacity */
  color: white; /* Adjust text color */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px; /* Adjust font size */
  white-space: nowrap;
  z-index: 1;
}

.button:hover .tooltip {
  display: block; /* Show the tooltip when button is hovered over */
}

/* navbar */
.online {
  color: #4f8832
}
.idle {
  color: #f79c18;
}
.dnd {
  color: #812e25;
  background-color: #812e25;
}
.offline {
  color: gray;
}

.navbar {
  background-color: #121212;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed; /* Fix navbar */
  top: 28vh; /* Adjust the top position based on the main section height */
  z-index: 999;
  transition: all 0.3s ease;
  color: white;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: white;
}

.navbar.active .nav-links {
  max-height: 300px;
}

.nav-links a {
  display: none;
  font-size: 16px;
}

.navbar.active .nav-links a {
  display: block;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 15px 10px;
  }

  .nav-links a {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}
