/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(White_SkinNo_Buttons.png);
    height: 700px;
    width: 1200px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4.disconnected {
    background: url(disconnected.png);
}

