@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body { overflow: hidden}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
  cursor: crosshair;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.icons {
    display: inline-block;
    height: 100%;
    max-width:500px;
    position: relative;
    vertical-align: top;
  }
  .icon-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 5px 40px 0 rgba(23, 28, 33, 0.13),
      0 20px 13px 0 rgba(23, 28, 33, 0.05);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -webkit-transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
    transition: margin 1s cubic-bezier(0.2, 0.6, 0.3, 1), opacity 2s ease;
    animation-duration: 4s;
    height: 144px;
    margin-left: 76px;
    margin-top: -25px;
    position: absolute;
    width: 144px;
  }
  
  @keyframes floating {
    0% {
      -webkit-transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
      transform: translateY(8px) rotate3d(0, 0, 1, 3deg);
    }
  
    100% {
      -webkit-transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
      transform: translateY(-8px) rotate3d(0, 0, 1, 0deg);
    }
  }
  
  .icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  
  .google {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    height: 75px;
    margin-left: 76px;
    margin-top: 20px;
    position: absolute;
    width: 75px;
  }
  .microsoft {
     -webkit-animation-delay: -.9s;
      animation-delay: -.9s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 75px;
      margin-left: 330px;
      margin-top: 140px;
      position: absolute;
      -webkit-transition-delay: .7s;
      transition-delay: .7s;
      width: 75px;
  }
  .bitbucket {
     -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 61px;
      margin-left: 225px;
      margin-top: 89px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 61px;
  }
  .digitalocean {
     -webkit-animation-delay: -2.9s;
      animation-delay: -2.9s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 75px;
      margin-left: 108px;
      margin-top: 157px;
      position: absolute;
      -webkit-transition-delay: .6s;
      transition-delay: .6s;
      width: 75px;
  }
  .ubuntu {
    -webkit-animation-delay: -1.8s;
      animation-delay: -1.8s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 50px;
      margin-left: 357px;
      margin-top: 38px;
      position: absolute;
      -webkit-transition-delay: .1s;
      transition-delay: .1s;
      width: 50px;
  }
  
  .nginx {
     -webkit-animation-delay: -2.9s;
      animation-delay: -2.9s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 50px;
      margin-left: 38px;
      margin-top: 115px;
      position: absolute;
      -webkit-transition-delay: .6s;
      transition-delay: .6s;
      width: 50px;
  }
  .github {
      -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 40px;
      margin-left: 251px;
      margin-top: 209px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 40px;
  }
  .facebook {
      -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 40px;
      margin-left: 41px;
      margin-top: 242px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 40px;
  }
  .wordpress{
     -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 80px;
      margin-left: 161px;
      margin-top: 262px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 80px;
  }
  .cloudflare {
       -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 60px;
      margin-left: 311px;
      margin-top: 285px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 60px;
  }
  .instagram {
       -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 30px;
      margin-left: 207px;
      margin-top: 25px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 30px;
  }
  .twitter {
       -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 30px;
      margin-left: 207px;
      margin-top: 25px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 30px;
  }
  .linkedin {
       -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 30px;
      margin-left: 395px;
      margin-top: 250px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 30px;
  }
  .twitter {
     -webkit-animation-delay: -2.2s;
      animation-delay: -2.2s;
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      height: 30px;
      margin-left: 245px;
      margin-top: 360px;
      position: absolute;
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
      width: 30px;
  }
  
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    color: #fff;
    background-color: #42d9ff;
   }
   ::-moz-selection {
    color: #fff;
    background-color: #42d9ff;
   }

   