
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    cursor: crosshair;

  }
  
  body::-webkit-scrollbar-track {
    cursor: crosshair;

  }
  
  body::-webkit-scrollbar-thumb {
    cursor: crosshair;
    background-color: rgb(60, 141, 187);    /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
  }