@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
 
html {
  scroll-behavior: smooth;
}
body{
    cursor: crosshair;
    font-family: 'Poppins', sans-serif;
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 color: #212112;
 background-size: 7%;
 background-color: #fff;
 overflow-x: hidden;
    transition: all 200ms linear;
    font-family: 'Muli', sans-serif;
	flex-direction: column;
	display: flex;
}
::selection {
 color: #fff;
 background-color: #42d9ff;
}
::-moz-selection {
 color: #fff;
 background-color: #42d9ff;
}
.start-header {
 opacity: 1;
 transform: translateY(0);
 padding: 10px 0;
 box-shadow: 0 10px 30px 0 rgb(33,33,33,0.15);
 -webkit-transition : all 0.3s ease-out;
 transition : all 0.3s ease-out;
}
.start-header.scroll-on {
 box-shadow: 0 5px 10px 0 rgb(33,33,33,0.15);
 padding: 5px 0;
 -webkit-transition : all 0.3s ease-out;
 transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
 height: 28px;
 -webkit-transition : all 0.3s ease-out;
 transition : all 0.3s ease-out;
}
.navigation-wrap{
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 1000;
 -webkit-transition : all 0.3s ease-out;
 transition : all 0.3s ease-out;
}
.navbar{
 padding: 0;
}
.navbar-brand img{
 height: 55px;
 width: 75px;
 display: block;
 -webkit-transition : all 0.3s ease-out;
 transition : all 0.3s ease-out;
}
.navbar-toggler {
    cursor: crosshair;

 float: right;
 border: none;
 padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    cursor: crosshair;

 outline: none;
}
.navbar-light .navbar-toggler-icon {
    cursor: crosshair;

 width: 24px;
 height: 17px;
 background-image: none;
 position: relative;
 border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
    cursor: crosshair;

 width: 24px;
 position: absolute;
 height: 1px;
 background-color: #000;
 top: 0;
 left: 0;
 content: '';
 z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
 top: 8px;
 cursor: crosshair;

}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    cursor: crosshair;

 transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
 transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
 border-color: transparent;
}
.nav-link{
 color: #212121 !important;
 font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
 color: #42d9ff !important;
}
.nav-item.active .nav-link{
 color: #777 !important;
}
.nav-link {
 position: relative;
 padding: 5px 0 !important;
 display: inline-block;
}
.nav-item:after{
 position: absolute;
 bottom: -5px;
 left: 0;
 width: 100%;
 height: 2px;
 content: '';
 background-color: #42fff6;
 opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
 bottom: 0;
 opacity: 1;
}
.nav-item.active:hover:after{
 opacity: 0;
}
.nav-item{
 position: relative;
    transition: all 200ms linear;
}
 
.bg-light {
 background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
 width: 100%;
 display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
 position: absolute;
 top: 50%;
 left: 0;
 width: 100%;
  margin-top: 40px;
 transform: translateY(-50%);
 z-index: 20;
}
h1 {
 font-size: 48px;
 line-height: 1.2;
 font-weight: 700;
 color: #212112;
 text-align: center;
}
p {
 text-align: center;
 margin: 0;
 padding-top: 10px;
 opacity: 1;
 transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
 
body.hero-anime p{
 opacity: 0;
 transform: translateY(40px);
    transition-delay: 1700ms;
}
#switch,
#circle {
 cursor: pointer;
 -webkit-transition: all 300ms linear;
 transition: all 300ms linear; 
} 
#switch {
 width: 60px;
 height: 8px;
 border: 2px solid #42d9ff;
 border-radius: 27px;
 background: #42d9ff;
 position: relative;
 display: block;
 margin: 0 auto;
 text-align: center;
 opacity: 1;
 transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
body.hero-anime #switch{
 opacity: 0;
 transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
 position: absolute;
 top: -11px;
 left: -13px;
 width: 26px;
 height: 26px;
 border-radius: 50%;
 background: #000;
}
.switched {
 border-color: #000 !important;
 background: #ff4242 !important;
}
.switched #circle {
 left: 43px;
 box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
 background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
 max-height: 0;
    display: block;
 padding: 0;
 margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
 max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
 padding: 10px!important;
 margin: 0;
 font-size: 13px;
 letter-spacing: 1px;
 color: #212121;
 background-color: #fcfaff;
 border: none;
 border-radius: 3px;
 box-shadow: 0 5px 10px 0 rgb(33,33,33,0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
 display: none;
}
 
.dropdown-item {
 padding: 3px 15px;
 color: #212121;
 border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
 color: #fff;
 background-color: rgb(255,66,66,0.6);
}
 
body.dark{
 color: #fff;
 
 background-color: #1f2029;
}
body.dark h1{
 color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
 color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
 background-color: #14151a !important;
}
body.dark .start-header {
 box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
 box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
 color: #fff !important;
}
body.dark .nav-item.active .nav-link{
 color: #999 !important;
}
body.dark .dropdown-menu {
 color: #fff;
 background-color: #1f2029;
 box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
 color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
 border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
 background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
 border-color: transparent;
}
 
 
@media (max-width: 767px) { 
 h1{
 font-size: 38px;
 }
 .nav-item:after{
 display: none;
 }
 .nav-item::before {
 position: absolute;
 display: block;
 top: 15px;
 left: 0;
 width: 11px;
 height: 1px;
 content: "";
 border: none;
 background-color: #000;
 vertical-align: 0;
 }
 .dropdown-toggle::after {
 position: absolute;
 display: block;
 top: 10px;
 left: -23px;
 width: 1px;
 height: 11px;
 content: "";
 border: none;
 background-color: #000;
 vertical-align: 0;
 transition: all 200ms linear;
 }
 .dropdown-toggle[aria-expanded="true"]::after{
 transform: rotate(90deg);
 opacity: 0;
 }
 .dropdown-menu {
 padding: 0 !important;
 background-color: transparent;
 box-shadow: none;
 transition: all 200ms linear;
 }
 .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
 margin-top: 10px !important;
 margin-bottom: 20px !important;
 }
 body.dark .nav-item::before {
 background-color: #fff;
 }
 body.dark .dropdown-toggle::after {
 background-color: #fff;
 }
 body.dark .dropdown-menu {
 background-color: transparent;
 box-shadow: none;
 }
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	    cursor: crosshair;
        grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    cursor: crosshair;

  }
  
  body::-webkit-scrollbar-track {
    cursor: crosshair;

  }
  
  body::-webkit-scrollbar-thumb {
    cursor: crosshair;
    background-color: rgb(60, 141, 187);    /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
  }

  p {
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 2px;
	margin: 0;
}




.social-menu ul{
    position: absolute;
    top: 85%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: rgb(37, 37, 37);
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(37, 37, 37, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #000000;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}


a{
    cursor: crosshair;
}

img {
    --drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

/* Typewriter effect */

.namechange             { width:-5em }
.namechange:after       { content:'unofficialdxnny'; }
.namechange:hover:after { content:'Danial Ahmed'; }


.changename             { width:-5em }
.changename:after       { content:'Projects'; }
.changename:hover:after { content:'By unofficialdxnny'; }

