:root {
    --dark-mode: #15202b;
    --dark-text-colour: white;
    --light-mode: white;
    --light-textcolour: #15202b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;

}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 48px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.light-mode {
    background-color: var(--light-mode);
    color: var(--light-textcolour);
}

body.dark-mode {
    background-color: var(--dark-mode);
    color: var(--dark-text-colour);
}